<section class="h-screen">
  <div class="h-full flex items-center justify-center">
    <div class="text-center">
      <h1 class="text-4xl font-bold text-white mb-6">
        ¡Bienvenido!
      </h1>
      <div class="relative">
        <button
        [routerLink]="['/movies/movies-list']" routerLinkActive="router-link-active"
        class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">
            Explorar peliculas
        </button>
      </div>
    </div>
  </div>
</section>
